@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  
}

textarea {
  width: 100%;
  height: 200px;
  padding: 0 16px;
  margin-top: 16px;

  border: none;
  outline: none;
  resize: none;
  
  background: transparent;
  line-height: 1.6;
  font-family: inter;
  max-width: 600px;
  margin: 60px auto;
  padding: 0 16px;
}

h1 {
  font-size: 32px;
  margin-bottom: 24px;
  text-align: center;
}

p {
  margin-bottom:24px;
  text-align: center;
}

nav {
  display: flex;
  align-items:center;
  padding: 0 24px;
  margin-top: 12px;
}

textarea:disabled {
  opacity: .6;
  cursor: not-allowed;
}